@use "./base.scss";

// put your custom CSS here!

.page-banner {
  // o .my-banner si cambiaste el nombre
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    height: 180px !important;
    border-radius: 8px;
  }
}
